.card-gallery__ctn{
  margin: 30px auto;
  max-width: 1000px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.card-gallery__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px 30px;
  border-bottom: 1px solid #cdcdcd;
}

.card-gallery__links-ctn > ul{
  display: flex;
  gap: 10px;
}
.card-gallery__links-ctn > ul > li>  button{
  color: #1b4a8b;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card-gallery__links-ctn > ul > li:not(:last-child):not(:first-child):after{
  content: '>';
  padding-left: 10px;

}

.card-gallery__search-ctn {
  position: relative;
  display: flex;
  align-items: center;
}

.card-gallery__search-ctn > input{
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: border 0.3s ease-in-out;
}

.card-gallery__search-ctn > input:focus-visible{

  outline: none;
  border-bottom: 1px solid rgb(90, 90, 90);
}

.card-gallery__search-ctn > svg{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-gallery__cards-ctn{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-gallery__cards-ctn > button {
  border: none;
  cursor: pointer;
}