.contact-form__ctn{
  flex: 1 0 0 ;
  max-width: 1000px;
  width: 100%;
}
.contact-form{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}

.contact-form__input-ctn{
  position: relative;
  flex: 1;
  width: 100%
}
.contact-form__input-ctn > label{
  position: absolute;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.contact-form__input-ctn > label.inactive{
  top: 5px;
  color:rgb(167, 167, 167);
}

.contact-form__input-ctn:focus-within > label.inactive,
.contact-form__input-ctn > label.active{
  color:#1b4a8b;
  top: -10px;

}

.contact-form__input-ctn >   input{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  padding-top: 5px;
  font-size:16px
}

.contact-form__input-ctn >  textarea{
  width: 100%;
  height: 200px;
  resize: none;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.contact-form__submit{
  padding: 5px 30px;
  border: none;
  background-color: #1b4a8b;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-radius: 4px;
}

.contact-form__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contact-form__submit[disabled]{
  background-color: #ccc;
  cursor: not-allowed;
}

.contact-form__file-input{
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: border .3s ease-in-out;
}

.contact-form__file-input:hover{
  border: 1px solid #1b4a8b;
}

.contact-form__file-input > svg{
  margin-left: 4px;
}

.contact-form__bottom > input[type="file"]{
  display: none;
}

@media screen and (max-width: 1000px) {
  .contact-form{
    border-radius: 0;
  }
  
}