footer{
  background-color: #fff;
}

.footer-ctn{
  display: flex;
  justify-content: space-between;
  padding: 30px ;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;

}

.footer__send-material-ctn{
  display: flex;
  flex-direction: column;
  gap: 10px;

}


@media only screen and (max-width: 600px) {
  .footer-ctn{
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    font-size: 17px;
  }

}