nav.navbar__ctn > ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 2px solid #e6e6e6;
  background-color: #fff;
}


nav.navbar__ctn > ul > li{
  width: 110px;
  overflow: hidden;
  margin-bottom: -2px;
}
nav.navbar__ctn > ul > li > a{
  display: block;
  padding: 10px 20px;
  color: #1b4a8b;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  text-align: center;
}

nav.navbar__ctn > ul > li:hover > a{
  border-bottom: 2px solid #2c67b9;
}
nav.navbar__ctn > ul > li > a.active{
  border-bottom: 2px solid #1b4a8b;
}
nav.navbar__ctn > ul  li  a:visited{
  text-decoration: none;
}
