*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system,'Segoe UI', BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(167deg, #ffffff 0%, #b3ddfb 100%);
}

ul, ol {
  list-style: none;
}

a:link{
  text-decoration: none;
}

.pages-ctn{
  display:flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
  
}